body {background-color: #333;
    
}
h1{
    font-family: "Times New Roman", Times, serif;
    color: white;
    text-align: center;
    font-size: 4em;


}
header {
    color : violet;
    margin-left: 10%;
}

article {
    display: block;
    vertical-align: top;
    text-align: justify;
    background-image: url("https://imgur.com/3xg5nT8.jpg");
    background-size: cover; 
    margin-left: 5%;
    margin-right: 6%;
    background-position: middle;
    word-wrap :break-word;
    color: black;
    border: 3px solid white;
    border-radius: 8px;
    background-repeat: no-repeat;
}


footer {
    color: pink;
}

text {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-bottom: 1px;
    display: table;

}

h1{
    text-align: center;
    margin-right: 17%;
}
    
    p {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    font-family: "Times New Roman", Times, serif;
    margin-bottom: 3%;
    font-size: 25px;
    color: #2c3539;
}
    



html {
 
   
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,*:before,*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}



b {
  position: relative;
  display: block;
  font-family: helvetica neue, helvetica, sans-serif;
  line-height: 1.15em;
  margin-top: -1.15em;
  top: 2.3em;
  font-size: 0.67em;
  font-weight: 400;
  letter-spacing: 0.025em;
  opacity: 0.75;
  text-align: center;
}

b span {
  font-size: 0.785em;
  font-weight: 400;
  opacity: 0.4;
}




.button {
    display: inline-block;
    text-decoration: none;
    position: relative;
    margin-top: 40px;
}

.button .bottom {
    position: absolute;
    left: 7px;
    top: 7px;
    width: 100%;
    height: 100%;
    background-color: white;
    display: block;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.button .top {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 24px 34px 22px 34px;
    border: 2px solid black;
}

.button-dark .top {
    border: 2px solid #fff;
}

.button .top .label {
    font-family: sans-serif;
    font-weight: 600;
    color: grey;
    font-size: 12px;
    line-height: 110%;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;
}

.button-dark .top .label {
    color: #fff;
}

.button:hover .bottom {
    left: 0;
    top: 0;
    background-color: white;
}

.button:hover .top .label {
    color: red;
}

.button-border {
    position: absolute;
    background-color: red;
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
}

.button:hover .top .button-border-left,.button:hover .top .button-border-right {
    height: calc(100% + 2px);
}

.button:hover .top .button-border-top,.button:hover .top .button-border-bottom {
    width: calc(100% + 2px);
}

.button-border-left {
    left: -2px;
    bottom: -2px;
    width: 2px;
    height: 0;
}

.button-border-top {
    left: -2px;
    top: -2px;
    width: 0;
    height: 2px;
}

.button-border-right {
    right: -2px;
    top: -2px;
    width: 2px;
    height: 0;
}

.button-border-bottom {
    right: -2px;
    bottom: -2px;
    width: 0;
    height: 2px;
}
    
    
    
}


p {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #2c3539;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
}




a{
    margin-left: 35%;
    margin-right: 30%;
}
script {
    width:100%;
    height: 100%;
}
.sf-snow-flake {
position: fixed;
top: -20px;
z-index: 99999;
width: 100%;
}
.sf-snow-anim {
top: 110%;
width:100%;
}

    
    



#intro{

    

    display: flex; 
    justify-content: center;
    
    
}
.mwa {
    justify-content: center;
    margin: auto;
    margin-right: 35%;
}




.inverted-bar {
    position: relative;
}

.inverted-bar:before,
.inverted-bar:after {
    padding: 10px 0;
    text-indent: 10px;
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    content: attr(data-content);
}

.inverted-bar:before {
    background-color: aqua;
    color: red;
    width: 100%;
}

.inverted-bar:after {
    background-color: red;
    color: aqua;
    width: 20%;
}

a{
    margin-left: 35%;
    margin-right: 30%;
}

.button {
    text-align: center;
    justify-content: center;
    margin:  auto;

}

footer {
    text-align: center;
    justify-content: center;
    margin:  auto;
   margin-top: 5px;
   margin-bottom: 5px;
}



