body {background-color: #fdd7e4;
	
}
h1{
    font-family: "Times New Roman", Times, serif;
    color: #fc6c85;


}
header {
	color : violet;
	margin-left: 10%;
}

article {
	display: block;
	vertical-align: top;
	text-align: justify;
	background-image: url("https://i.imgur.com/zJ1xGoi.jpg"	);
	margin-left: 5%;
	margin-right: 6%;
	background-position: middle;
	word-wrap :break-word;
	color: black;
	border: 3px solid #fc6c85;
    border-radius: 8px;}


footer {
	color: pink;
}

text {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border-bottom: 1px;
	display: table;

}

h1{
    text-align: center;
    margin-right: 17%;
}
    
    
    


.button {
    
    --offset: 10px;
    --border-size: 2px;
    margin-left: 37%;
    margin-right: 20%;
    display: block;
    position: relative;
    padding: 1.5em 3em;
    appearance: none;
    border: 0;
    background: transparent;
    color: #fc6c85;
    text-transform: uppercase;
    letter-spacing: .25em;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 0;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background .8s ease;
    
    &:hover {
        background: rgba(100, 0, 0, .03);
    }
    
    &__horizontal,
    &__vertical {
        position: absolute;
        top: var(--horizontal-offset, 0);
        right: var(--vertical-offset, 0);
        bottom: var(--horizontal-offset, 0);
        left: var(--vertical-offset, 0);
        transition: transform .8s ease;
        will-change: transform;
        
        &::before {
            content: '';
            position: absolute;
            border: inherit;
        }
    }
    
    &__horizontal {
        --vertical-offset: calc(var(--offset) * -1);
        border-top: var(--border-size) solid currentcolor;
        border-bottom: var(--border-size) solid currentcolor;
        
        &::before {
            top: calc(var(--vertical-offset) - var(--border-size));
            bottom: calc(var(--vertical-offset) - var(--border-size));
            left: calc(var(--vertical-offset) * -1);
            right: calc(var(--vertical-offset) * -1);
        }
    }
    
    &:hover &__horizontal {
        transform: scaleX(0);
    }
    
    &__vertical {
        --horizontal-offset: calc(var(--offset) * -1);
        border-left: var(--border-size) solid currentcolor;
        border-right: var(--border-size) solid currentcolor;
        
        &::before {
            top: calc(var(--horizontal-offset) * -1);
            bottom: calc(var(--horizontal-offset) * -1);
            left: calc(var(--horizontal-offset) - var(--border-size));
            right: calc(var(--horizontal-offset) - var(--border-size));
        }
    }
    
    &:hover &__vertical {
        transform: scaleY(0);
    }
    
}


p {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    font-size: 25px;
    color: #2c3539;
}




a{
	margin-left: 35%;
	margin-right: 30%;
}